.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h2 {
    color: darkcyan;
}

h1 {
    &.blue {
        background-color: blue;
    }

    &.green {
        background-color: green;
    }

    &.yellow {
        background-color: yellow;
    }
}

.list-bin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    i {
        font-size: 15px;
        color: #bbb;
    }
}

// Button

$buttonBlue: skyblue;
$buttonGrey: grey;
$buttonCrimson: crimson;
$buttonCoral: coral;

button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $buttonGrey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    &.blue {
        background-color: $buttonBlue;
        &:hover {
            background-color: darken($buttonBlue, 20%);
        }
    }
    &.crimson {
        background-color: $buttonCrimson;
        &:hover {
            background-color: darken($buttonCrimson, 20%);
        }
    }
    &.coral {
        background-color: $buttonCoral;
        &:hover {
            background-color: darken($buttonCoral, 20%);
        }
    }
    &:hover {
        background-color: darken($buttonGrey, 20%);
    }
}

@media all and (max-width: 30em) {
    button {
        display: block;
        margin: 0.2em auto;
    }
}

.sq-bin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .sq {
        width: 100px;
        height: 100px;
        border: 5px solid yellow;
        border-radius: 10px;
        margin: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: #ffffff;
        background-color: darkgray;
    }
}
